@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 100vh;
    position: relative;
}

section#telefone {
    height: 627px;
    width: 311px;
    
    background: url('../imagens/frame-iphone.png') no-repeat;

    position:absolute;
    top: 50%; /*Centraliza a tela conforme celular neste projeto*/
    left: 50%; /*Centraliza a tela conforme celular neste projeto*/
    transform: translate(-50%, -50%); /*Centraliza a tela conforme celular neste projeto*/
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%; /*FAZ O ICONE FICAR REDONDO*/
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400); /*FAZ O  EFEITO DE SOBRA PARACENDO QUE O BOTÃO É CLICÁVEL*/
    box-sizing: border-box; /*NÃO VAI DEIXAR O BOTÃO MOVIMENTAR APÓS O EFEITO DO HOVER FEITO ABAIXO*/
}

section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.600); /*EFEITO DE BORDA PARA QUANDO O MOUSE PASSAR SOBRE O BOTÃO*/
    transform: translate(-3px, -3px); /*EFEITO DE SUSPENDER O BOTÃO*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.600); /*EFEITO DE SUSPENDER O BOTÃO*/
    transition: transform 0.3s, 0.4s; /*EFEITO DE SUSPENDER O BOTÃO - TEMPO DO BOTÃO*/
}
